@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #17182f;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.notification {
  color: $grey-dark;
}

.box strong {
  color: $grey-dark;
}

h4.title {
  color: $grey-dark;
}

.addrIcon > svg {
  border-radius: 50px;
}

.footer {
  padding: 2rem 1.5rem 2rem;
}