@import 'node_modules/bulma/sass/utilities/initial-variables.sass';

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #00284A;
  width: 100%;
  height: 100%;
}

.notification {
  color: $grey-dark;
}

.box strong {
  color: $grey-dark;
}

h4.title {
  color: $grey-dark;
}

.addrIcon > svg {
  border-radius: 50px;
}

.container {
  background-color: white;
}

.navbar-brand {
  margin-left: 0px !important;
}

.main {
  margin-top: 3.25rem;
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: #004681;
  width: 100%;
}

.is-active {
  text-decoration: underline;
}

.is-active:hover {
  color: #3273dc !important;
}